.about {
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  /* width: 80%; */
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 40px;
  padding-bottom: 8px;
}
.spacer50 {
  margin-top: 50px;
}
.spacer10 {
  margin-top: 10px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

/* .calls-to-action {
  text-align: center;
} */
