.App {
  text-align: center;
}

/* .MuiTabs-flexContainer {
  justify-content: center;
} */
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Profile {
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  background-color: gray;
  width: 130px;
}

.Profile img {
  width: 100px;
}

.TripInfo {
  border-style: solid;
  border-color: rgb(180, 178, 178);
  border-radius: 10px;
  border-width: 1px;
  margin-left: 3px;
  margin-right: 3px;
}

.waypointsContainer {
  overflow-x: scroll;
}

.memberContainer {
  overflow-x: scroll;
  size: 30px;
}

.BuildTrip {
  width: 300px;
}

.BuildTrip p {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

.tabPanel {
  color: black;
  background: rgb(214, 220, 255);
  background: linear-gradient(
    0deg,
    rgba(214, 220, 255, 1) 0%,
    rgba(63, 80, 181, 1) 100%
  );
  /* Still deciding on a background image -- this is a placeholder for now */
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/523/851/large_2x/vector-abstract-swirl-cloud-seamless-pattern-blue-sky-background.jpg");
  padding-bottom: 2px !important;
}
.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textUsername {
  padding-right: 15px;
  padding-left: 15px;
}
.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgImg {
  position: absolute;
  top: 84px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}

#privacy-policy {
  width: 100%;
  background-color: #3f50b5;
  color: white;
  border: none;
}

#privacy-policy-about {
  width: calc(100% - 1.5em);
  background-color: #3f50b5;
  color: white;
  border: none;
}

.iconImg-container {
  text-align: center !important;
  z-index: 100 !important;
}

.iconImg {
  margin-top: 25px;
  /* margin-bottom: 10px; */
  width: 120px;
  height: 120px;
}

.iconImg-about {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}

.iconImgSmall {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
  width: auto;
  height: 64px;
}

.MuiTab-textColorSecondary.Mui-selected {
  color: #fce774 !important;
}

.MuiTab-textColorSecondary {
  color: inherit !important;
}

.PrivateTabIndicator-colorSecondary-74 {
  background-color: #fce774 !important;
}
