.tabPanel {
  background-color: white;
  color: black;
  background-image: url(/static/img/trip.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 100%;
}
.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textUsername {
  padding-right: 15px;
  padding-left: 15px;
}
.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
