/* .MyProfile {
  width: 40%;
  text-align: center;
} */

#no-social-icon {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 30%;
}

#social-icon {
  width: 30%;
}

#profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 350px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 5px solid #50597b;
}

#profile-picture:hover {
  cursor: pointer;
  opacity: 0.75;
}

#profile-picture-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 200px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 5px solid #50597b;
}

.spacer50 {
  margin-top: 50px;
}
.spacer10 {
  margin-top: 10px;
}
.spacer20 {
  margin-top: 20px;
}

#horizontal-list {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.listItem {
  border-right: 1px solid #3b5998 !important;
}

#listItem-facebook {
  border-top: 5px solid #3b5998 !important;
}

#listItem-twitter {
  border-top: 5px solid #1da1f2 !important;
}

#listItem-instagram {
  border-top: 5px solid #85397b !important;
}

#typo-rating {
  padding-bottom: 5px;
}

.MuiRating-sizeLarge {
  font-size: 2.5rem !important;
}

.itemTextCentering .MuiListItemText-multiline {
  text-align: center;
}

#currency-selector-container {
  text-align: center;
}

#currency-selector {
  display: inline-bolck;
}

.MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
  text-align: center;
}

#about-me-container {
  text-align: center;
}

#about-others {
  text-align: center;
}

.MyProfile {
  background-color: white;
}
