.tripLocation {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.typoH3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  text-align: center;
}
.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.spacer50 {
  margin-top: 50px;
}
.spacer5 {
  margin-bottom: 5px !important;
}
.iconSpacer {
  margin-right: 5px;
}
.card-bg-blue {
  background-color: #e8eaf6 !important;
}
.owner {
  font-size: 18px;
}
.noWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  line-height: 50%;
}

.topPadding {
  padding-top: 8px;
}

.ul-test {
  margin-top: 0;
  margin-bottom: 0;
}
